* {
  margin: 0;
  padding: 0;
  user-select: none;
  list-style-type: none;
}

body {
  display: flex;
  justify-content: center;
  margin-top: 10vh;
}

header {
  text-align: center;
  margin-bottom: 3rem;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  margin-bottom: 1rem;
}

h4 {
  font-weight: 300;
}

section {
  width: 60vw;
  /* border: 2px solid #ccc; */
  padding: 1rem;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.2rem;
  border-bottom: 2px #888 solid;
  margin-bottom: 2rem;
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1.5rem;
}

.inputLeft {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 0.5rem;
}

.PlusCircle {
  font-size: 2rem;
  color: #888;
}

.done {
  color: green;
}

.inputRight {
  display: flex;
  align-items: center;
  color: #888;
  gap: 0.5rem;
}

.container {
  display: flex;
  align-items: center;
  user-select: none;
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  transition: background-color 0.3s;
  padding: 0.5rem;
  border-radius: 0.2em;
}

.rightEditMode {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
}

.rightDone {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  padding: 0.5rem;
  border-radius: 0.2em;
}

.right:hover {
  background-color: lightgray;
}

.task {
  display: flex;
  justify-content: center;
}

.taskDone {
  display: flex;
  justify-content: center;
  text-decoration: line-through;
}

.severity {
  padding-left: 0.5rem;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
}

.red {
  color: red;
}

.hover {
  cursor: pointer;
}

.pen:hover {
  font-size: 1.5rem;
}

.spacer {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #888;
}

.horizontalBar {
  width: 75%;
  height: 0px;
  border: 1px solid #888;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 10px;
}

.clear {
  display: flex;
}

.clear:hover {
  color: #666666;
  cursor: pointer;
}

.modal {
  position: 'relative';
}
